<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if latest_question_list%}
    <ul>
        {%for question in latest_question_list%}
        <li>
            <!-- <a href="/polls/{{question.id}}/"> -->
                <!-- removing hardcoded urls -->
                <!-- from polls.url we can directly use its url -->
                <a href="{%url 'polls:detail' question.id%}">
                    <!-- specifying polls in front helps in resolving conflict 
                    if similar name url exists -->
            {{question.question_text}}
        </a></li>
        {%endfor%}
    </ul>
    {%else%}
    <p>No polls available</p>
    {%endif%}
</body>
</html>